{% include 'header.html.twig' %}

{#<div class="container-fluid">#}
    {{ page.banner }}
{#</div>#}
<div class="container-fluid">
    {{ page.our_company }}
</div>
<div class="container-fluid">
    {{ page.featured }}
</div>
<div class="promised_deliver">
    <div class="container-fluid">
        {{ page.promise_to_deliver }}
    </div>
</div>
<div class="container-fluid">
    {{ page.recent_project }}
</div>
<div class="customer_reviews">
    <div class="container-fluid">
        {{ page.customer_reviews }}
    </div>
</div>

{% include 'footer.html.twig' %}